In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime

In [ ]:
df = pd.read_csv('..data/equipment_anomaly_data.csv')

In [ ]:
df.head()

,temperature,pressure,vibration,humidity,equipment,location,faulty
0,58.180180,25.029278,0.606516,45.694907,Turbine,Atlanta,0.0
1,75.740712,22.954018,2.338095,41.867407,Compressor,Chicago,0.0
2,71.358594,27.276830,1.389198,58.954409,Turbine,San Francisco,0.0
3,71.616985,32.242921,1.770690,40.565138,Pump,Atlanta,0.0
4,66.506832,45.197471,0.345398,43.253795,Pump,New York,0.0

In [4]:
mask = df['equipment'] == "Pump"
filtered_df = df[mask]

In [5]:
filtered_df.head()

    temperature   pressure  vibration   humidity equipment  location  faulty
3     71.616985  32.242921   1.770690  40.565138      Pump   Atlanta     0.0
4     66.506832  45.197471   0.345398  43.253795      Pump  New York     0.0
8     50.403299  45.399899   2.231718  43.067667      Pump   Houston     0.0
11   141.260310  54.239058   2.725691  86.390466      Pump   Atlanta     1.0
17    57.903053  30.368126   1.652980  48.857561      Pump   Chicago     0.0

In [6]:
def max_pressure_anomaly(dataframe):
    max_pressure = dataframe['pressure'].max()
    return max_pressure
result = max_pressure_anomaly(filtered_df)
print("Maximum Pressure Anomaly for Pump Equipment:", result)

Maximum Pressure Anomaly for Pump Equipment: 79.81261650031917